@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-color: rgb(233, 90, 40);
  --secondary-color:  rgb(49, 47, 136);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: black;
  line-height: 1.6;
}
ul {
  list-style-type: none;

}
a {
  text-decoration: none;
  color:var(--secondary-color);
  padding: 32px 0;
}
a:hover {
  border-bottom: 3px solid var(--primary-color);
  border-collapse: separate;
}
img {
  max-width: 150px;
  max-height: 100px;
}
.navbar {
  /* background-color:rgb(194, 176, 176); */
  overflow:auto;

}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 5px;

}
.logo {
  margin-right: 60px;
  width: 1700px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  margin-left: 10px;
  color:var(--secondary-color);
}
li {
  padding:30px;
  margin-top: 40px;

}
.showcase {
  background-image: url("images/top.png");
  background-size: cover;
  width: 100%;
  height: 71vh;
  overflow: auto;
}
.showcase-text {
  width: 40%;
  text-align: left;
  padding: 5% 8%;
}
h1,
p {
  padding: 10px 0;
  margin: 10px 0;
  color:var(--secondary-color);
}
h1 {
  font-size: 4vw;
  color: var(--primary-color);
  font-weight: bolder;
}
.fa-search {
  margin: 0 20px;
  font-size: 25px;
  padding-left:50px;
}
.fa-search:hover{
  cursor: pointer;
}
button{
  color:aliceblue;
  background:var(--secondary-color);
  border:none;
  border-radius:0.5rem;
  margin:10px 0;
  padding:12px;
  width:100px;
  height:40px;
  
}
button:hover{
  cursor: pointer;
}
.icons{
  padding:30px;
  font-size:40px;
  display: flex;
  justify-content:space-between;
  color:rgb(77, 73, 73);
}
.icons:hover{
  cursor: pointer;
}
.part-two{
  background-image: url('images/top2.png');
  background-size: cover;
  padding: 20vh 0;

}
.ctn-pt-2{
  background-color: black;
  opacity: 0.6;
  height:32vh;
  text-align: center;
  overflow:auto;
 


}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color:white;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid var(--primary-color);
}

.separator:not(:empty)::before {
  margin-left: 36vw;

}

.separator:not(:empty)::after {
  margin-right: 36vw;
 

}
.tilte-ctn-pt-2{
  margin:10px;
}
.part-two p{
  color:white;
  font-size: 13px;
  width: 50%;
}
.fa-chevron-circle-down{
 color:white;
font-size: 30px;
}
.fa-chevron-circle-down:hover{
  cursor: pointer;
}
.part-three{
  background-image: url("images/top3.png");
  background-size: cover;
  overflow: auto;
}
.part-three .separator{
color:var(--secondary-color)
}
.span-part-3-gd{
  color: var(--primary-color);
  align-items: center;

}
.part-3-grid {
  display: inline-grid ;
  grid-template-columns: auto auto auto;
}
.part-3-grid-item {
  max-width:32.8vw;
  max-height:50vh;
  min-width: 32.8vw;
  min-height: 50vh;
}
.part-3-grid-item:hover {
  border:3px solid var(--primary-color);
  border-radius:0.3rem;
  cursor: pointer;
}
.separator{
  margin:10px
}
.part-four{
  padding: 20px;
  display:flex;
  justify-content:space-between;
  background-color:rgba(161, 158, 158, 0.5);
}
.ctn-4-help{
  display: inline-flex;
}
.fa-comments{
 font-size: 43px;
 color: rgb(87, 84, 84);
 margin:0 15px;
}
.ctn-4-help h3{
  font-size: 28px;
  font-weight: bold;
  color: var(--secondary-color);
}
.ctn-4-help h6{
  color: var(--secondary-color);
  font-weight: lighter;
  letter-spacing: 2px;
}
.part-four button{
  width: 8vw;
  overflow: hidden;

}
footer{
  padding:20px 200px;
  background-color: rgb(49, 47, 136);
  line-height: 0.3;
  overflow:auto;
}
.foo{
  display: flex;
  justify-content:space-between;
  margin:10px 0;
  overflow:auto;
  max-width: 1150px;
  align-items: center;



}
